* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0c0c0c;
    color: #f3e9e9;
    font-family: "Lobster", sans-serif;
    font-size: 20px;
    font-style: normal;
    border: 2px solid #31e2c7;
    border-radius: 20px;
    width: 100%; /* Ensure full width */
}

/* Logo styles */
.logo {
    flex: 1; /* Take remaining space */
}

/* Navigation links styles */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    position: relative;
    margin-right: 20px;
    padding: 10px 15px;
    transition: transform 0.3s ease;
}

.nav-links li::before,
.nav-links li::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #f6efef;
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: scaleX(0); /* Initial state for the underline effect */
    transform-origin: center;
}

.nav-links li::before {
    top: 0;
}

.nav-links li::after {
    bottom: 0;
}

.nav-links li:hover::before,
.nav-links li:hover::after {
    transform: scaleX(1);
}

.nav-links a {
    text-decoration: none;
    color: #f8f4f4;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #0fe8b9;
}

/* Blink animation */
.blink {
    font-size: 30px;
    font-weight: bold;
    color: #0c0c0c;
    animation: blink-animation 3s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        color: #f1f1f3;
        visibility: hidden;
    }
}